.settingsboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 140px;
  background: darkcyan;
  border-radius: 10px;
}

.settingsboard__item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  width: 40%;
  font-size: 26px;
  text-align: center;
  color: darkslategrey;
  border: 2px solid darkslategrey;
  border-radius: 5px;
  outline: none;
}

.inputError {
  border: 2px solid red;
}

.text {
  font-size: 26px;
  color: white;
}