.button {
  padding: 10px;
  font-size: 50px;
  color: #fff;
  background: darkcyan;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}