.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: darkslategrey;
}

.counter_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 25%;
  border: 2px solid white;
  border-radius: 5px;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
}